# Composer Related
composer.lock
/vendor

# Frontend Assets
/node_modules

# Logs
npm-debug.log
yarn-error.log

# Caches
.phpunit.cache
.phpunit.result.cache
/build

# IDE Helper
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php

# Editors
/.idea
/.fleet
/.vscode
/.claude

# Misc
phpunit.xml
phpstan.neon
testbench.yaml
/docs
/coverage

/.phpunit.cache
/public/build
/public/hot
/public/storage
/public/vendor
/storage/*.key
.env
.env.*
!.env.example
.phpactor.json
Homestead.json
Homestead.yaml
auth.json

/caddy

# franken
frankenphp
frankenphp-worker.php

# macOS crap
.DS_Store
cghooks.lock
*.code-workspace
